#expense-heading {
    display: flex;
    justify-content: space-between;
    margin:30px;
}

#expense-main {
    display:flex;
    justify-content: space-between;
}

#recent-expense {
    margin:30px
}