/*Pages/Expense.css */

#expense-heading {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  color: var(--primary);
}

#expense-main {
  display: flex;
  gap: 30px;
}

#recent-expense {
  flex: 1;
  background-color: #ffffff;
  padding: 16px 20px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  margin-top: 20px;
  width: 40%;
}