/* Pages/ Home.css */
.overview {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 20px auto 30px;
}

.overview-card {
  flex: 1;
  padding: 18px;
  border-radius: 12px;
  text-align: center;
  background: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.overview-card.balance {
  border-left: 6px solid var(--income);
}

.overview-card.expenditure {
  border-left: 6px solid var(--expense);
}

.label {
  font-size: 14px;
  color: #64748b;
}

.amount {
  font-size: 22px;
  font-weight: 700;
}

/* input and app container */
.app-title {
  text-align: center;
  margin-bottom: 24px;
  color: var(--primary);
}

/* Input section */
.input-container {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-bottom: 28px;
}

.input,
select {
  padding: 10px;
  width: 180px;
  border-radius: 8px;
  border: 1px solid var(--secondary);
}

.input:focus,
select:focus {
  outline: none;
  border-color: var(--primary);
}

/* Button */
.add-btn {
  padding: 10px 18px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: var(--secondary);
}

/* searchbar */
.search-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-transaction {
  width: 320px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--secondary);
}
