/* App.css */

.no-transaction {
  text-align: center;
  color: #64748b;
  margin-top: 20px;
  font-style: italic;
}

.expense-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f9fafb;
  padding: 10px 14px;
  border-radius: 8px;
  transition: transform 0.2s ease;

  width: 380px;
  margin: 10px auto;
}

.expense-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.meta {
  font-size: 12px;
  
}

.expense-item:hover {
  transform: scale(1.02);
}

.expense-amount.income {
  color: var(--income);
}

.expense-amount.expense {
  color: var(--expense);
}
